<div class="notice notice--v3 js-notice">
    <div class="container">
        <div class="notice__banner">
            <div class="text-component text-sm margin-bottom-md">
                <h4>🍪 Cookie Compliance</h4>
                <p class="text-sm">📢 I use cookies to give you the best possible website experience. By using
                    this amazing website, you agree to my <a href="../tpl/page_types/privacy-policy.html">Privacy
                        Policy</a>.</p>
            </div>

            <button class="btn btn--primary width-100% margin-bottom-xxs js-notice__hide-control">OK, Got it!</button>
        </div>
    </div>
</div>