<div class="notice js-notice">
    <div class="container max-width-lg">
        <div class="notice__banner flex justify-between items-start items-center@md">
            <div class="text-component">
                <p class="text-sm">📢 I use cookies to give you the best possible website experience. By using
                    this amazing website, you agree to my <a href="#0">Privacy Policy</a> that doesn't exist.</p>
            </div>

            <button class="reset notice__close-btn margin-left-sm js-notice__hide-control">
                <svg class="icon" viewBox="0 0 16 16">
                    <title>Close panel</title>
                    <g stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round" stroke-miterlimit="10">
                        <line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line>
                        <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line>
                    </g>
                </svg>
            </button>
        </div>
    </div>
</div>