<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        document.getElementsByTagName("html")[0].className += " js";
    </script>
    <link
        href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link id="codyframe" rel="stylesheet" href="../../assets/css/style.css">
    <!-- browsers not supporting CSS variables -->
    <script>
        if (!('CSS' in window) || !CSS.supports('color', 'var(--color-var)')) {
            var cfStyle = document.getElementById('codyframe');
            if (cfStyle) {
                var href = cfStyle.getAttribute('href');
                href = href.replace('style.css', 'style-fallback.css');
                cfStyle.setAttribute('href', href);
            }
        }
    </script>
    <title>@@title</title>
</head>