<section class="diagonal-section bg-contrast-lower"
    style="background-image: url('../../assets/img/hero-diagonal-img-1.jpg');">
    <div class="container max-width-adaptive-sm padding-y-xxl">
        <div class="text-center">
            <div class="text-sm opacity-60% margin-bottom-xxs color-white">Oh lord! Hello Internet,
            </div>

            <div class="text-component margin-bottom-sm">
                <h1 class="color-white">I'm Quentin.</br>UX/UI developer.</h1>
                <p class="color-white">Nice to meet you.</p>
            </div>
        </div>
    </div>
</section>